body {
	background-color: black;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	position: relative;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}

h1 {
    font-size: 100px;
}

dt {
	font-weight: 600;
}

/* Colors */
.light-grey {
	color: #ccc;
}

.grey {
	color: #999;
}

/* Displays */
.sleep-cover {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
	z-index: -1; /* so things are still selectable */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.top-left{
	float: left;
}

.date {
   font-size: 35px;
}

.time {
	font-size: 85px;
}

.top-right {
	float: right;
}

.middle-center{
	display: flex;
    flex: 1;
	align-items: stretch;
	align-self: flex-start;
	flex-direction: column;
	width: 100%;
    text-align: center;
    justify-content: center;
}

.bottom-center{
    width: 100%;
    text-align: center;
}

.commands {
	width: 500px;
	text-align: left;
}

#map {
	height: 750px;
}

/* Animations */
.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all ease 1500ms;
}

.fade.ng-hide-add {
  transition: all ease 500ms;
}


.animate-grow {
  max-height: 750px !important;
}

.animate-grow.ng-hide-add {
  transition: all linear 500ms;
}

.animate-grow.ng-hide-remove {
	transition: all linear 500ms;
}

.animate-grow.ng-hide {
  max-height:0  !important;
}