@import "main";

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500);

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.top-left {
  float: right;
  text-align: right;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  float: right;
  width: 420px;
  .date {
    -webkit-flex: 2;
    flex: 2;
    -webkit-order: 2;
    order: 2;
    width: 220px;
    position: relative;
    left: 200px;
  }
  ul.calendar {
    -webkit-flex: 3;
    flex: 3;
    -webkit-order: 3;
    order: 3;
  }
  .time {
    -webkit-flex: 1;
    flex: 1;
    -webkit-order: 1;
    order: 1;
  }
}

.top-right {
  float: left;
  text-align: left;
  width: 250px;
  .weather {
    text-align: left;
    width: 100%;
  }
}

/*

Weather

*/

.weather-today .tempreture {
  font-size: 80px;
}

.weather-week-descriptor span.ng-binding {
  &:first-child {
    font-size: 21px;
  }
  text-align: left;
  word-spacing: normal;
  display: inline-block;
}

.weather-week-day {
  margin-bottom: 5px;
}

.weather {
  .weather-today .icon, .weather-week-day .icon-small {
    display: none;
  }
  .weather-today canvas, .weather-week-day canvas {
    display: inline-block;
  }
  .weather-week-descriptor span {
    padding-bottom: 7px;
    margin-bottom: 7px;
    display: block;
    border-bottom: 2px solid #aaa;
    &:last-child {
      border-bottom: 0;
    }
  }
}

/*
Calc
*/

.top-left ul.calendar {
  font-size: 17px;
  margin-top: 80px;
  .day {
    display: none;
  }
  .event-details .details {
    color: #999;
  }
}

/* middle */

.middle-center {
  justify-content: flex-end;
  h1 {
    font-size: 90px;
  }
}