@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  src: url('../fonts/HelveticaNeue-UltraLight.ttf');
  // EOT file for IE
}

$black: #000;
$dark-grey: #aaa;
$grey: #999;
$light-grey: #ccc;
$off-black: #222;
$white: #fff;

body {
  background-color: $black;
  color: $white;
  font-family: 'HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
  font-weight: 300;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

h1 {
  font-size: 120px;
}

dt {
  font-weight: 600;
}

// Colors

.light-grey {
  color: $light-grey;
}

.grey {
  color: $grey;
}

// Displays

.sleep-cover {
  background-color: $black;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.listening,
.interim-result {
  font-family: 'Open Sans', sans-serif;
}

.top-left {
  float: left;
}

.date {
  font-size: 42px;
}

.time {
  font-size: 110px;
}

.top-right {
  float: right;
}

.middle-center {
  align-items: stretch;
  align-self: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.bottom-center {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.commands {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 450px;
}

ul.calendar {
  font-size: 22px;
  list-style: none;
  margin-left: 10px;
  padding: 0;
}

.calendar {
  .event {
    margin-bottom: 10px;
  }

  span {
    display: inline-block;

    &.day {
      font-weight: bold;
      vertical-align: top;
      width: 128px;
    }

    &.summary {
      max-width: 400px;
    }
  }

  .event-details .details {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    padding-left: 135px;
  }
}

.weather {
  display: inline-block;
  margin-left: auto;
  text-align: right;
  width: 230px;

  .weather-today canvas,
  .weather-week-day canvas {
    display: none;
  }
}

.weather-today .temperature {
  font-size: 60px;
}

.weather-week-descriptor {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: justify;
}

.weather-week {
  font-size: 22px;
  margin-right: 10px;

  .day {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
  }

  .temperature {
    display: inline-block;
    width: 60px;
  }
}

.traffic-information {
  margin-right: 10px;
  margin-top: 10px;
  text-align: right;
}

.time-to {
  font-weight: bold;
}

@keyframes reduce-dashoffset {
  to { stroke-dashoffset: 0; }
}

@keyframes increase-dashoffset {
  from { stroke-dashoffset: 0; }
}

.timer {
  font-size: 120px;
  position: relative;
}

.timer-circle {
  $size: 3.25em;
  $stroke: .1em;
  $pi: 3.1415926535;

  display: block;
  height: $size;
  margin: 20px auto;
  transform: rotate(-90deg) scaleY(-1);
  width: $size;

  .background,
  .progress {
    cx: $size / 2;
    cy: $size / 2;
    fill: none;
    r: $size / 2 - $stroke;
    stroke-width: $stroke;
    stroke: $off-black;
  }

  .progress {
    animation-fill-mode: forwards;
    animation-name: increase-dashoffset;
    animation-timing-function: linear;
    stroke: $white;
    stroke-dasharray: $pi * $size;
    stroke-dashoffset: $pi * $size;
    stroke-linecap: round;
  }
}

.timer-countdown {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.timer-duration {
  @extend .timer-countdown;

  font-size: 25%;
  top: 75%;
}

.contents {
  max-width: 100%;
}

.gif {
  height: 100%;
}

.map {
  height: 1080px;
}

.contents-box {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  &::after {
    -moz-box-shadow: inset 0 0 10px 10px $black;
    -webkit-box-shadow: inset 0 0 10px 10px $black;
    box-shadow: inset 0 0 10px 10px $black;
    content: '';
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.color-block {
  display: inline-block;
  height: 200px;
  margin: 10px;
  margin-bottom: 20px;
  width: 200px;
}

.debug-info {
  width: 500px;
}

// Animations

.fade {
  &.ng-hide {
    opacity: 0;
  }

  &.ng-hide-remove,
  &.ng-hide-add {
    display: block !important;
  }

  &.ng-hide-remove {
    transition: all ease 1500ms;
  }

  &.ng-hide-add {
    transition: all ease 500ms;
  }
}

.animate-grow {
  max-height: 1280px !important;

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all linear 500ms;
  }

  &.ng-hide {
    max-height: 0 !important;
  }
}

.dimmed {
  color: $dark-grey;
}

.xxsmall,
.xsmall,
.small {
  font-family: 'HelveticaNeue-Medium', sans-serif;
  letter-spacing: 0;
}

.xxsmall {
  font-size: 15px;

  .wi {
    line-height: 15px;
  }
}

.xsmall {
  font-size: 20px;
}

.small {
  font-size: 25px;
}

.icon {
  display: inline-block;
  font-size: 45px;
  font-weight: 100;
  margin-right: 10px;
  padding-right: 5px;
  position: relative;
  top: -10px;
}

.icon-small {
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  padding-left: 0;
  padding-right: -10px;
  position: relative;
  width: 20px;
}

.xkcd {
  -webkit-filter: invert(100%);
  max-width: 100%;
}
