
@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight.ttf");
    /* EOT file for IE */
}

body {
    background-color: black;
    color: #fff;
    font-family: 'HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
    font-weight: 300;
    position: absolute;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}

h1 {
    font-size:  11.11vh;
}

dt {
    font-weight: 600;
}

/* Colors */
.light-grey {
    color: #ccc;
}

.grey {
    color: #999;
}

.first-run h1{
    font-size:  4.44vh;
}
.below {
  z-index: -900;
}
.above {
  /* very high, but not above sleep */
  z-index:900;
}
.fullscreen {
  position: absolute;
    top:  -0.92vh;
    left:  -0.52vw;
    width:  -0.52vw;
    height:  -0.92vh;
  pointer-events: none;
    margin:  0.00vw 0.00vw;
    border: none;
}
/* Displays */
.sleep-cover {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.container {
    z-index: -1;
    /* so things are still selectable */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 0.3s ease;
}

.listening {
    box-shadow:  inset 0.00vw -2.09vw 2.09vw -2.09vw #fff;
}

.not-listening {
    box-shadow:  inset 0.00vw 0.00vw 0.00vw 0.00vw #fff;
		font-size:  1.50vh; 
}

.partial-result {
    font-family: 'Open Sans', sans-serif;
		 font-size:  2.88vh;
}

.top-left {
    float: left;
		width: 50vw;	
		text-align: left;
}

.date {
    font-size:  3.88vh;
		margin-left: auto;
		text-align: inherit;
}

.time {
    font-size:  5.18vh;
		margin-left:auto;
		text-align:inherit;		
}

.top-right {
    float: right;
		width: 49vw;
		align-items: right;
		text-align: right;
}

.middle-center {
    display: flex;
    flex: 1;
    align-items: stretch;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.bottom-center {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom:  1.85vh;
}

.bottom-left, .bottom-right {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom:  4.62vh;
    width: 50%;
}

.bottom-left {
    left:  1.04vw;
		float: left;
		text-align: left;
        margin-right: auto;
}

.bottom-right {
    right:  1.04vw;
		float: right;
		text-align: right;
          //  margin-right:auto;
            margin-left:auto;

}

.commands {
    width:  40.56vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

span.command-prev {
    float:left;
}

span.command-next {
    float:right;
}

ul.calendar {
    list-style: none;
    font-size:  2.5vh;
    margin-left:  0.52vw;
    padding: 0;
}

.calendar .event {
    margin-bottom:  0.92vh;
}

.calendar span {
	display: inline-block;
}

.calendar .day {
    display: none;
    font-weight: bold;
    vertical-align: top;
}

.calendar span.summary {
  font-size:  1.8vh;
  max-width:  20.94vw;
  font-family: 'Open Sans', sans-serif;
}

.calendar .event-details .details {
    font-size:  1.8vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.calendar-name {
  display: none;
}

.show-calendar-names .calendar-name {
  display: block;
}

.day-marker {
	margin-top:  2.77vh;
}

.day-marker .day {
	display: block;
  font-size:  1.38vh;
  letter-spacing:  0.10vw;
  margin-bottom:  0.92vh;
}

.weather {
  //  float: inherit;
  //  margin-left: inherit;
  //  margin-right: auto;
    display: inline-block;
    text-align: right;
    width:  12.04vw;
}

.weather-today .temperature {
    font-size:  5.55vh;
}

.weather-week-descriptor {
    font-family: 'Open Sans', sans-serif;
    font-size:  1.11vh;
    margin-left: auto;
    margin-bottom:  0.92vh;
    text-align: justify;
}

.weather-week {
    margin-right:  0.52vw;
    font-size:  2.03vh;
}

.weather-week .day {
    display: inline-block;
    margin-right:  0.52vw;
    width:  2.09vw;
}

.weather-week .temperature {
    display: inline-block;
    width:  2.61vw;
}

.weather .weather-today canvas,
.weather .weather-week-day canvas {
    display: none;
}

.stock, .tvshows, .hadisplay, .traffic {
    font-family: 'Open Sans', sans-serif;
   font-size:  2.03vh;
}

.fitbit {
    height: 100%;
}

.fitbit-title {
    margin-right:  0.52vw;
    font-size:  2.59vh;
}

.fitbit-subtitle {
    margin-right:  0.52vw;
    font-size:  1.85vh;
}

.fitbit-item {
    color: #ccc;
    margin-right:  0.52vw;
    font-size:  1.48vh;
}

.fitbit-badge {
    width:  0.83vw;
    height:  1.48vh;
}

.fitbit-main {
    display: inline-block;
    margin-right:  0.52vw;
    width:  23.56vw;
}

.fitbit-goals {
    float: right;
    width: 60%;
}

.fitbit-progress-bar {
    position: relative;
    width: 50%;
    height:  0.46vh;
    background-color: grey;
}

.fitbit-progress {
    position: absolute;
    height: 100%;
}

.playing-track img {
    float: left;
    margin-right:  0.26vw;
}

.traffic-information, .stock-information, .tv-information {
    text-align: right;
    margin-top:  0.92vh;
    margin-right:  0.52vw;
}

.stock-change-positive {
    color: green;
}

.stock-change-negative {
    color: red;
}

@keyframes reduce-dashoffset {
    to {
        stroke-dashoffset: 0;
    }

}

@keyframes increase-dashoffset {
    from {
        stroke-dashoffset: 0;
    }

}

.timer {
    font-size:  11.11vh;
    position: relative;
}

.timer-circle {
    width: 3.25em;
    height: 3.25em;
    transform: rotate(-90deg) scaleY(-1);
    margin:  1.04vw auto;
    display: block;
}

.timer-circle .background,
.timer-circle .progress {
    r: 1.525em;
    cx: 1.625em;
    cy: 1.625em;
    stroke-width: 0.1em;
    fill: none;
    stroke: #222;
}

.timer-circle .progress {
    stroke-dasharray: 10.2101761239em;
    stroke-dashoffset: 10.2101761239em;
    stroke-linecap: round;
    animation-name: increase-dashoffset;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    stroke: white;
}

.timer-countdown,
.timer-duration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.timer-duration {
    top: 75%;
    font-size: 25%;
}

.contents {
    max-width: 100%;
}

.gif {
    height: 100%;
}

.map {
      max-height: 90%; 
}

.reminders-container, .todoist-container {
    width:  13.08vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.todoist {
    padding:  0.92vh 0.52vw 0.92vh 4.18vw;
}

.contents-box {
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.contents-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow:  inset 0 0 0.52vw 0.52vw #000;
    -moz-box-shadow:  inset 0 0 0.52vw 0.52vw #000;
    box-shadow:  inset 0 0 0.52vw 0.52vw #000;
    overflow: hidden;
}

.video {
    width: 100%;
    height:  62.96vh;
    border: none;
    /* If you want to make the video black and white
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    */}

.truncate {
  width:  13.08vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-right div div div .spotify-info {
    float: left;
    text-align: right;
    margin-right:  0.78vw;
}

.bottom-left div div div .spotify-info {
    text-align: left;
    margin-left:  0.78vw;
}

.bottom-left div div div {
    display: flex;
}

.spotify-container {
    margin: auto;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    font-family: bold;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.spotify-info {
    margin-top:  -0.18vh;
    font-family: 'Open Sans', sans-serif;
}

.spotify-status-indicator i {
    margin-top:  0.46vh;
}

.spotify-info .em-85 {
    font-size: 0.85em;
}

.spotify-track, .spotify-artist, .spotify-device {
    margin: auto;
}

.spotify-art {
    border:  0.15vw solid white;
}

.sc-container {
    display: flex;
    padding:  0.92vh;
    margin: auto;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    font-family: bold;
}

.scWaveform {
    background-color: #000000;
    width:  26.17vw;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.color-block {
    height:  18.51vh;
    width:  10.47vw;
    display: inline-block;
    margin:  0.52vw;
    margin-bottom:  1.85vh;
}

.debug-info {
    width:  26.17vw;
}

/* Animations */
.fade.ng-hide {
    opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
    display: block !important;
}

.fade.ng-hide-remove {
    transition: all ease 1500ms;
}

.fade.ng-hide-add {
    transition: all ease 500ms;
}

.animate-grow {
    max-height:  67.01vw !important;
}

.animate-grow.ng-hide-add,
.animate-grow.ng-hide-remove {
    transition: all linear 500ms;
}

.animate-grow.ng-hide {
    max-height: 0 !important;
}

.dimmed {
    color: #aaa;
}

.xxsmall,
.xsmall,
.small {
    font-family: "HelveticaNeue-Medium", sans-serif;
    letter-spacing: 0;
}

.xxsmall {
    font-size:  1.38vh;
}

.xxsmall .wi {
    line-height:  1.38vh;
}

.xsmall {
    font-size:  1.85vh;
}

.small {
    font-size:  2.31vh;
}

.icon {
    position: relative;
    top:  -0.92vh;
    display: inline-block;
    font-size:  4.16vh;
    padding-right:  0.26vw;
    font-weight: 100;
    margin-right:  0.52vw;
}

.icon-small {
    position: relative;
    display: inline-block;
    font-size:  1.85vh;
    padding-left:  0.00vw;
    padding-right:  -0.52vw;
    font-weight: 100;
    width:  1.04vw;
}

.xkcd {
    -webkit-filter: invert(100%);
    max-width: 100%;
}

.commit-strip {
    max-width: 100%;
}

.qrImage {
    -webkit-filter: invert(100%);
    max-width: 100%;
}

.news {
    height:  6.94vh;
    margin-bottom:  0.46vh;
}

.news-title {
    font-family: 'Open Sans', sans-serif;
    font-size:  1.11vh;
    margin-bottom:  0.46vh;
}

.news-content {
    font-family: 'Open Sans', sans-serif;
    font-size:  1.85vh;
    margin-bottom:  5.09vh;
}
