<div class="fitbit" ng-controller="Fitbit">
    <div><span class="fitbit-title">{{'fitbit.statsFor' | translate}} {{fbDailyAverage.fullName}}</span></div>
    <div><span class="fitbit-item">{{'fitbit.averageSteps' | translate}}: {{fbDailyAverage.averageDailySteps}}</span></div>
    <div><span class="fitbit-item">{{'fitbit.todaysSteps' | translate}}: {{fbToday.summary.steps}}</span></div>
    <div><span class="fitbit-item">{{'fitbit.todaysDistance' | translate}}: {{fbToday.summary.distances[0].distance}} km</span></div>
    <div><span class="fitbit-item">{{'fitbit.todaysActiveMinutes' | translate}}: {{(fbToday.summary.veryActiveMinutes) + (fbToday.summary.fairlyActiveMinutes)}} min</span></div>
    <div><span class="fitbit-item">{{'fitbit.caloriesBurned' | translate}}: {{fbToday.summary.caloriesOut}} kcal</span></div>
    <p></p>
    <div><span class="fitbit-subtitle" ng-show="fbSleep.sleep[0]">{{'fitbit.sleepLastNight' | translate}}</span></div>
    <div><span class="fitbit-item" ng-show="fbSleep.sleep[0]">{{(fbSleep.sleep[0].minutesAsleep/60 | number:2 )}} {{'fitbit.hours' | translate}} / {{fbSleep.sleep[0].minutesAwake  }} min {{'fitbit.awake' | translate}} // {{(fbSleep.sleep[0].efficiency)}} % {{'fitbit.efficient' | translate}}</span></div>
    <div><span class="fitbit-item" ng-show="fbSleep.sleep[0]">{{'fitbit.awake' | translate}}/{{'fitbit.restless' | translate}}: {{fbSleep.sleep[0].awakeCount}} / {{fbSleep.sleep[0].restlessCount}}</span></div>
    <p></p>
    <div><span class="fitbit-subtitle">{{'fitbit.deviceStatus' | translate}}</span></div>
    <div class="" ng-repeat="device in fbDevices">
        <div>
            <span class="fitbit-item" ng-show="device.deviceVersion">{{device.deviceVersion}}</span><br>
            <span class="fitbit-item" ng-show="device.battery">{{'fitbit.battery' | translate}}: {{device.battery}}<br>
              <span class="fitbit-item" ng-show="device.lastSyncTime">{{'fitbit.synched' | translate}}: {{device.lastSyncTime | date: 'dd.MM.yyyy HH:mm:ss'}}</span>
        </div>
    </div>
    <p></p>
    <div><span class="fitbit-subtitle">{{'fitbit.latestBadges' | translate}}</span></div>
    <div class="" ng-repeat="badge in fbDailyAverage.topBadges">
        <div>
            <span class="fitbit-item"><img class="fitbit-badge" ng-src="{{badge.image50px}}"/></span>
            <span class="fitbit-item">{{badge.description}}</span>
        </div>
    </div>
</div>